.advantages {
  background-color: @bg-grey;
  font-family: @font;
  font-weight: normal;
  color: @navy;
}

.advantages__wrapper {
  .wrapper();
  padding-top: 57px;

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 278px;
    background-image: url("@{img}iphone-screen-mobile@1x.png");
    background-repeat: no-repeat;
    background-position-x: center;
  }
}

.advantages__list {
  .default-list();
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 40px;
}

.advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 38px;

  &:last-child {
    margin-bottom: 0;
  }
}

.advantages__title {
  margin: 0;
  margin-bottom: 19px;
  font-size: 18px;
  font-weight: bold;
  line-height: 10px;
  color: #000000;

  &--additional {
    font-size: 30px;
    line-height: 36px;
  }
}

.advantages__content {
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  word-wrap: break-word;
}

.advantages__additional {
  display: none;
}

@media @tablet-width {
  .advantages__wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 31px;

    &::after {
      position: absolute;
      left: 0;
      top: -45px;
      width: 310px;
      height: 481px;
      background-image: url("@{img}iphone-screen-3-tablet@1x.png");
      order: -1;
    }
  }

  .advantages__list {
    padding-left: 50%;
  }

  .advantages__item {
    align-items: flex-start;
    margin-bottom: 42px;
  }

  .advantages__additional br {
    &:first-child {
      display: none;
    }

    &:last-child {
      display: inline;
    }
  }

  .advantages__additional {
    position: relative;
    display: block;
    background-color: #ffffff;
    padding-top: 97px;
    padding-bottom: 73px;
    padding-left: 50%;
    
    &::before {
      content: "";
      display: block;
      width: 238px;
      height: 276px;
      position: absolute;
      left: 21px;
      top: 59px;
      background-image: url("@{img}icon-editor-diagram-fill.svg"),
        url("@{img}icon-timer.svg");
      background-repeat: no-repeat;
      background-size: 202px 202px,
        238px 276px;
      background-position: 50% 75%,
        0 0;
    }

    &::after {
      content: "24";
      display: block;
      width: 238px;
      height: 276px;
      position: absolute;
      color: @pink;
      font-size: 96px;
      font-weight: bold;
      left: 84px;
      top: 199px;
    }
  }

  .advantages__title {
    &--additional {
      margin-bottom: 10px;
    }
  }

  .advantages__content {
    &--additional {
      max-width: 300px;
      margin-bottom: 10px;
    }
  }

  .advantages__link {
    text-decoration: underline;
    color: @pink;
  }
}

@media @desktop-width {
  .advantages__wrapper {
    padding-top: 30px;
    &::after {
      display: none;
    }
  }
  
  .advantages__list {
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0;
    width: 100%;
  }

  .advantages__additional {
    padding-left: 496px;
    padding-top: 90px;
    padding-bottom: 114px;
    background-color: @bg-grey;
    
      &::before {
        content: "";
        display: block;
        width: 298px;
        height: 345px;
        position: absolute;
        left: 130px;
        top: -5px;
        background-image: url("@{img}icon-editor-diagram-fill.svg"),
          url("@{img}icon-timer.svg");
        background-repeat: no-repeat;
        background-size: 253px 253px,
          298px 345px;
      }
  
      &::after {
        content: "24";
        display: block;
        width: 130px;
        height: 86px;
        position: absolute;
        color: @pink;
        font-size: 120px;
        font-weight: bold;
        left: 210px;
        top: 173px;
      }
  }

  .advantages__additional br {
    &:first-child {
      display: inline;
    }
    
    &:last-child {
      display: none;
    }
  }

  .advantages__item {
    position: relative;
    flex-basis: 280px;
    margin-right: 40px;
    align-items: center;
    padding-top: 233px;
    margin-bottom: 70px;

    &:nth-child(3n) {
      margin-right: 0;
    }

    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 292px;
      height: 301px;
      top: -125px;
      left: -4px;
      z-index: 10;
    }

    &:first-child::before {
      background-image: url("@{img}iphone-screen-1-desktop@1x.png");
    }

    &:nth-child(2)::before {
      background-image: url("@{img}iphone-screen-2-desktop@1x.png");
    }

    &:last-child::before {
      background-image: url("@{img}iphone-screen-3-desktop@1x.png");
    }
  }

  .advantages__title {
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 24px;
    max-width: 225px;
    word-wrap: break-word;

    &--additional {
      text-align: start;
      max-width: none;
    }
  }

  .advantages__content {
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    max-width: 245px;

    &--additional {
      text-align: start;
      max-width: 530px;
      margin-bottom: 34px;
    }
  }

  .advantages__link {
    font-size: 18px;
  }
}
