.advantages {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: @bg-grey;
  font: inherit;
  color: inherit;
  background-image: url("@{img}iphone-screen-mobile@1x.png");
  background-position: 50% 110%;
  background-repeat: no-repeat;
  padding: 50px 0 300px;
}

.advantages__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  .default-list();
}

.advantages__item {
  text-align: center;
}

.advantages__title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
  line-height: 10px;
  color: #000000;

  &--additional {
    font-size: 30px;
    line-height: 36px;
  }
}

.advantages__content {
  margin: 0;
  margin-bottom: 35px;
}

.advantages__additional {
  display: none;
}

@media (min-width: @tablet-width) {
  .advantages {
    padding-bottom: 0;
    background-image: url("@{img}iphone-screen-3-tablet@1x.png");
    background-position: 5% 0%;
  }

  .advantages__item {
    text-align: start;
    padding-left: 50%;
  }

  .advantages__additional {
    position: relative;
    display: block;
    background-color: #ffffff;
    padding: 90px 0;
    padding-left: 50%;
    background-image: url("@{img}icon-editor-diagram-fill.svg"),
      url("@{img}icon-timer.svg");
    background-position: 9% 62%,
      5% 50%;
    background-repeat: no-repeat;
    background-size: 202px 202px,
      240px 275px;

    &::before {
      content: "24";
      position: absolute;
      color: @pink;
      font-size: 96px;
      font-weight: bold;
      left: 13%;
      top: 50%;
    }
  }

  .advantages__link {
    text-decoration: underline;
    color: @pink;
  }
}

@media (min-width: @desktop-width) {
  .advantages__list {
    flex-direction: row;
    justify-content: space-around;
  }

  .advantages__additional {
    padding-left: 40%;
    background-color: @bg-grey;
    background-position: 17% 77%,
      15% 50%;
    background-repeat: no-repeat;
    background-size: 255px 255px,
      310px 345px;

    &::before {
      content: "24";
      position: absolute;
      color: @pink;
      font-size: 120px;
      font-weight: bold;
      left: 18%;
      top: 50%;
    }
  }

  .advantages__title {
    font-size: 30px;
    line-height: 30px;
  }

  .advantages__content {
    font-size: 18px;
    line-height: 30px;
  }

  .advantages__link {
    font-size: 18px;
  }
}
