.advantages {
  background-color: @bg-grey;
  font-family: @font;
  font-weight: normal;
  color: @navy;
}

.advantages__wrapper {
  .wrapper();
  padding-top: 57px;

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 278px;
    background-image: url("@{img}iphone-screen-mobile@1x.png");
    background-repeat: no-repeat;
    background-position-x: center;
  }
}

.advantages__list {
  .default-list();
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 40px;
}

.advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 38px;

  &:last-child {
    margin-bottom: 0;
  }
}

.advantages__title {
  margin: 0;
  margin-bottom: 19px;
  font-size: 18px;
  font-weight: bold;
  line-height: 10px;
  color: #000000;
}

.advantages__content {
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  word-wrap: break-word;
}

@media @tablet-width {
  .advantages__wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 31px;
    padding-bottom: 41px;

    &::after {
      position: absolute;
      left: 0;
      top: -45px;
      width: 310px;
      height: 481px;
      background-image: url("@{img}iphone-screen-3-tablet@1x.png");
      order: -1;
    }
  }

  .advantages__list {
    padding-left: 50%;
    margin-bottom: 0;
  }

  .advantages__item {
    align-items: flex-start;
    margin-bottom: 42px;
  }
}

@media @desktop-width {
  .advantages__wrapper {
    padding-top: 30px;
    padding-bottom: 0;

    &::after {
      display: none;
    }
  }

  .advantages__list {
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0;
    width: 100%;
  }

  .advantages__item {
    position: relative;
    flex-basis: 280px;
    margin-right: 40px;
    align-items: center;
    padding-top: 233px;
    margin-bottom: 70px;

    &:nth-child(3n) {
      margin-right: 0;
    }

    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 292px;
      height: 301px;
      top: -125px;
      left: -4px;
      z-index: 10;
    }

    &:first-child::before {
      background-image: url("@{img}iphone-screen-1-desktop@1x.png");
    }

    &:nth-child(2)::before {
      background-image: url("@{img}iphone-screen-2-desktop@1x.png");
    }

    &:last-child::before {
      background-image: url("@{img}iphone-screen-3-desktop@1x.png");
    }
  }

  .advantages__title {
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 24px;
    max-width: 225px;
    word-wrap: break-word;
  }

  .advantages__content {
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    max-width: 245px;
  }
}
