.footer {
  text-align: center;
  
  &--developed {
    width: 28px;
    height: 34px;
    background-image: url("@{img}logo-htmlacademy.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}
