.intro {
  .wrapper();
  background-color: #ffffff;
  padding-top: 45px;

  &--photo {
    padding-bottom: 49px;
  }

  &--form {
    padding-bottom: 2px;
  }
}

.intro__item {
  font-size: 14px;
  font-weight: normal;
  line-height: 30px;
  color: @navy;
  text-align: center;
  margin: 0 auto;

  &--photo {
    max-width: 253px;
  }
}

@media @tablet-width {
  .intro {
    min-height: 228px;
  }

  .intro__item {
    font-size: 18px;
    color: @navy;
    text-align: center;

    &--photo {
      max-width: 440px;
    }

    &--form {
      max-width: 500px;
    }
  }
}

@media @desktop-width {
  .intro {
    min-height: 240px;
  }

  .intro__item {
    &--photo {
      max-width: 580px;
    }

    &--form {
      max-width: 760px;
    }
  }
}
