.main-nav {
  &--opened {
    background-color: @navy;
  }

  &--closed {
    background-color: fade(@dark-navy, 30%);
  }
}

.main-nav__layout-positioner {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main-nav__wrapper {
  .wrapper();
  display: flex;
  justify-content: space-between;
}

.main-nav__logo {
  height: 66px;
}

.main-nav__logo img {
  width: 75px;
  height: 66px;
}

// .main-nav__toggle {
//   display: flex;
//   align-items: center;
//   background-color: transparent;
//   border: none;

//   &--close {
//     display: none;
//   }
// }

.main-nav__list {
  width: 100%;
}

@media @tablet-width {
  .main-nav__logo {
    height: 110px;
  }
      
  .main-nav__logo img {
    width: 147px;
    height: 110px;
  }
}

@media @desktop-width {
  .main-nav {
    background-color: fade(#1d2631, 30%);
  }

  .main-nav__layout-positioner {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 110px;
    .wrapper();
  }

  .main-nav__wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }

  .main-nav__logo {
    height: 110px;
  }
      
  .main-nav__logo img {
    width: 147px;
    height: 95px;
  }

  .main-nav__toggle {
    display: none;
  }
}
