.os {
  .default-list();

  &__link {
    width: 58px;
    height: 58px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &__link--apple {
    background-image: url("@{img}logo-apple.svg");
  }

  &__link--android {
    background-image: url("@{img}logo-android.svg");
  }

  &__link--windows {
    background-image: url("@{img}logo-microsoft.svg");
  }
}
