.os {
  .default-list();
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 240px;
  margin-bottom: 22px;
}

.os__link {
  display: block;
  width: 58px;
  height: 58px;
  background-repeat: no-repeat;
  background-position: 50% 100%;

  &--apple {
    background-image: url("@{img}logo-apple.svg");
  }

  &--android {
    background-image: url("@{img}logo-android.svg");
  }

  &--windows {
    background-image: url("@{img}logo-microsoft.svg");
  }
}

@media @tablet-width {
  .os {
    margin-bottom: 39px;
  }
}

@media @desktop-width {
  .os {
    margin-bottom: 55px;
  }
}
