.photo-gallery {
  background-color: #ffffff;
  font-family: @font;
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  color: @navy;
}

.photo-gallery__wrapper {
  .wrapper();
  display: flex;
  flex-direction: column;
}

.photo-gallery__item {
  display: flex;
  flex-direction: column;
  background-color: @bg-grey;

  &--panorama {
    position: relative;
  }
}

.photo-gallery__img {
  width: 100vw;
  
  &--panorama {
    position: relative;
    width: 100vw + 40px;
    left: -20px;
  }
}

// .photo-gallery__title {
//   display: block;
//   position: absolute;
//   background-color: @pink;
//   font-weight: bold;
//   text-transform: uppercase;
//   color: #ffffff;
//   margin: 0;
//   right: 20px;
// }

// .photo-gallery__content {
//   padding: 20px 15px;
//   background-color: @bg-grey;
// }

// .photo-gallery__author {
//   font-weight: bold;
// }

// .photo-gallery__time {
//   font-weight: normal;
//   text-transform: uppercase;
//   font-size: 12px;
// }

// .photo-gallery__comment {
//   margin: 0;
// }

// .photo-gallery__likes {
//   font-weight: normal;
//   text-transform: uppercase;
//   font-size: 12px;
//   color: @pink;
// }

// .photo-gallery__like-count-btn {
//   border: none;
//   background-color: transparent;
//   cursor: pointer;
// }
