.preamble {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  background-color: #ffffff;
  min-height: 215px;
}

.preamble__item {
  margin: 0;
  font-family: inherit;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  color: @navy;
}

@media (min-width: @tablet-width) {
  .preamble {
    justify-content: center;
    text-align: center;
    min-height: 240px;
  }

  .preamble__item {
    font-size: 40px;
    line-height: 48px;

    &:nth-child(2) {
      align-self: center;
      max-width: 340px;
    }
  }
}

@media (min-width: @desktop-width) {
  .preamble {
    min-height: 325px;
  }

  .preamble__item {
    font-size: 50px;
    line-height: 60px;

    &:nth-child(2) {
      max-width: 420px;
    }
  }
}
