.preamble {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  background-color: #ffffff;
  padding-top: 40px;
  padding-bottom: 30px;
}

.preamble__item {
  margin: 0;
  font-family: inherit;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  color: @navy;

  &:first-child {
    margin-bottom: 26px;
  }
}

@media @tablet-width {
  .preamble {
    justify-content: center;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 45px;
  }

  .preamble__item {
    font-size: 40px;
    line-height: 48px;

    &:first-child {
      margin-bottom: 0;
    }

    &:nth-child(2) {
      align-self: center;
      max-width: 340px;
    }
  }
}

@media @desktop-width {
  .preamble {
    min-height: 316px;
  }

  .preamble__item {
    font-size: 50px;
    line-height: 60px;

    &:nth-child(2) {
      max-width: 420px;
    }
  }
}
