.reviews {
  background-color: #ffffff;
  font: inherit;
  color: inherit;
  padding: 0 20px;
}

.reviews__list {
  .default-list();
}

.reviews__item {
  text-align: center;
}

.reviews__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 10px;
  color: #000000;
}
