.site-list {
  font-weight: bold;
}

.site-list__item {
  text-align: center;
}

.site-list a {
  display: block;
  padding: 15px 0;

  font-size: 18px;
  line-height: 32px;
  color: @white;
  text-transform: uppercase;
  text-decoration: none;

  background-color: @navy;
  border-top: 1px solid fade(@white, 30%);
  border-bottom: 1px solid #000101;
}

.site-list a[href] {
  &:hover {
    color: @pink;
  }

  &:active {
    color: fade(@pink, 30%);
  }
}

@media @desktop-width {
  .site-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    font-weight: normal;
    background-color: transparent;
    min-width: 620px;
  }

  .site-list a {
    line-height: 18px;
    text-transform: none;

    background-color: transparent;
    border: none;
  }

  .site-list a[href] {
    &:active {
      color: fade(@white, 30%);
    }
  }
}
