.slider {
  position: relative;
}

.slider__item {
  display: none;
}

.slider__controls {
  position: absolute;
  left: 50%;
  bottom: 50px;
  z-index: 100;

  width: 160px;
  height: 12px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider__label {
  position: relative;

  display: inline-block;
  width: 12px;
  height: 12px;

  border-radius: 50%;
  cursor: pointer;

  &::after {
    content: "";

    position: absolute;
    top: 9px;
    left: 9px;
    z-index: 1;

    width: 6px;
    height: 6px;

    background: #b5b9be;

    border-radius: 50%;
  }
}

#comment-1:checked ~ .slider__item:nth-child(1),
#price-list-1:checked ~ .slider__item:nth-child(1) {
  display: block;
}

#comment-2:checked ~ .slider__item:nth-child(2),
#price-list-2:checked ~ .slider__item:nth-child(2) {
  display: block;
}

#comment-3:checked ~ .slider__item:nth-child(3),
#price-list-3:checked ~ .slider__item:nth-child(3) {
  display: block;
}

#comment-1:checked ~ .slider__label--1::before,
#comment-2:checked ~ .slider__label--2::before,
#comment-3:checked ~ .slider__label--3::before,
#price-list-1:checked ~ .slider__label--1::before,
#price-list-2:checked ~ .slider__label--2::before,
#price-list-3:checked ~ .slider__label--3::before {
  content: "";

  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;

  width: 12px;
  height: 12px;

  background-color: #c1c1c1;
  border: 3px solid @navy;
  border-radius: 50%;
}
