.story-form__section {
  border: none;
}

.story-form__title,
.story-form__label {
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  color: @pink;
  text-transform: uppercase;
}

.story-form__list {
  .default-list();
}
